<div id="rankingModal">
	<label class="item item-input item-select">
		<span class="input-label" style="color: #555">Primero</span>
		<select ng-model="selectedPlayers.first">
			<option class="selectPlayers" ng-repeat="player in players" ng-value="player.id">{{player.name}}</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<span class="input-label" style="color: #555">Segundo</span>
		<select ng-model="selectedPlayers.second">
			<option class="selectPlayers" ng-repeat="player in players" ng-value="player.id">{{player.name}}</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<span class="input-label" style="color: #555">Tercero</span>
		<select ng-model="selectedPlayers.third">
			<option class="selectPlayers" ng-repeat="player in players" ng-value="player.id">{{player.name}}</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<span class="input-label" style="color: #555">Cuarto</span>
		<select ng-model="selectedPlayers.fourth">
			<option class="selectPlayers" ng-repeat="player in players" ng-value="player.id">{{player.name}}</option>
		</select>
	</label>
</div>