<ion-view view-title="Clasificación de manos">
<ion-content class="fondoGris">

	<div class="col-sm-6 col-md-4 margedFirst">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-1.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Escalera real</h3>
				<p class="justify">La mano más famosas del poker, una escalera de color al as, es imbatible. 
				Está formada por un as, un rey, una dama, una jota y un diez del mismo palo.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-2.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Escalera de color</h3>
				<p class="justify">Cinco cartas consecutivas del mismo palo. En caso de empate, 
				aquella que finalice en la carta más alta gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-3.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Poker</h3>
				<p class="justify">Cuatro cartas del mismo valor y una carta no emparejada o "kicker". 
				En caso de empate, el jugador con la carta no emparejada más alta ("kicker") gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-4.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Full</h3>
				<p class="justify">Tres cartas del mismo valor y una pareja de un mismo valor diferente al anterior. En caso de empate, el mayor de los grupos de tres cartas gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-5.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Color</h3>
				<p class="justify">Cinco cartas del mismo palo, no consecutivas. En caso de empate, 
				el jugador con la carta más alta en su mano gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-6.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Escalera</h3>
				<p class="justify">Cincon cartas consecutivas de distinto palo. En caso de empate, 
				aquella que finalice en la carta más alta gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-7.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Trío</h3>
				<p class="justify">Tres cartas con el mismo valor y dos cartas no emparejadas.. En caso de empate, el jugador con la carta no emparejada (o la segunda carta, de ser necesario) más 
				alta ("kicker") gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-8.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Dobles parejas</h3>
				<p class="justify">Dos cartas del mismo valor, dos cartas del mismo valor, diferente al anterior, y un "kicker". Si los jugadores tienen exactamente las mismas dobles parejas, 
				el "kicker" más alto gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 marged">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-9.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Pareja</h3>
				<p class="justify">Dos cartas del mismo palo y tres cartas desemparejadas. En caso de empate, el jugador con la carta no emparejada (o la segunda o tercera carta, de ser necesario) más alta gana.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 margedLast">
		<div class="thumbnail fullWidth fondoGris">
			<img src="img/cards-10.jpg" height="103" width="163" alt="...">
			<div class="caption noTopMargin">
				<h3>Carta alta</h3>
				<p class="justify">Cualquier mano que no esté clasificada en alguna de las categorías anteriores. En caso de empate, la carta más alta gana, como por ejemplo "as alto".</p>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>
