/* Helper classes */
.noborder{
	border:none !important;
}

.noMargin {
	margin: 0 !important;
}

.top10{
	margin-top:10px !important;
}


/* Custom CSS */

.iconMine{
	width:auto;
	height:16px !important;
}

.imgMenu {
	margin-top:20px;
	padding:0;
	width:275px;
	height:150px;
}

.ionMenu {
	margin-top:170px !important;
}

.customHandImage{
	max-width:220px;
	position:relative;
}

.handText{
	text-align:center;
}

.handText p {
	text-align:justify;
}

.deleteButton i{
	font-size:15px !important;
}

.deleteButton {
	float:right;
	margin-left:5px;
}

.bgBlack{
	color:#D7D7D7;
	background-color: #444;
}
.bgBlack div span{
	color:#D7D7D7;
	background-color: #444;

}

.bgBlack .item-content{
	color:#D7D7D7;
	background-color: #444;
	border: none;
}


a.item-content{
	background-color: #444;
	color:#D7D7D7;
}
.bgBlack .item{
	background-color: #444;
	border-color:#444;
	color:#D7D7D7;
}

.activeMenu a{
	color:#FAFAFA !important;
	background-color: #333 !important;
}

.bgBlack ion-item .activated{
	color:#FAFAFA !important;
	background-color: #333 !important;
}


/* Doughnut */

.doughnut-legend{
	margin-left:-25px !important;
}

.doughnut-legend li{
	margin:15px 25px 10px 25px;
}

.doughnut-legend span {
	position:absolute;
	text-indent: 25px;
}

.bootbox.modal { /* fix bug with ionic modal's style */
	background-color: transparent !important;
}

.inputBootStrap {
	padding-left:10px !important;
	border: 1px solid #ccc !important;
    border-top-color: rgb(204, 204, 204) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(204, 204, 204) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(204, 204, 204) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(204, 204, 204) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
}

.selectPlayers {
	padding-top: 3px !important;
	font-weight: normal !important;
}
